.Navbar{
    width: 358%;
    height: 60px;
    border-bottom: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.Sidenav{
  margin-top: 60px;
  width:10%;
  height: 100%;
  position: fixed;
  display: flex;
  background-color: rgb(2, 2, 37);

}
.Isuue{
  position: relative;
  background-color: black;
  margin-left: 0;
}
.headingnav{
    position: relative;
    left: -740px;
    font-size: 7mm;
    
}
.search__box{
    position: relative;
    right: 230px;
    top:18px;
}

.input{
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}

.input__box{
    width: 30%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    

}
.container {
    width: 95%;
    height: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .todos {
    border-radius: 5px;
    border-bottom: 5px;
    display: flex;
    flex-direction: column;
    width: 47.5%;
    padding: 15px;
    background-color: rgb(213, 240, 241);
    position: relative;
  }
  

.todos__single{
    display:flex;
    width: 29.5%;
    border-radius: 5px;
    padding: 20px;
    margin-top:15px;
    transition: 0.2s;

    
}
.todos__single:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
}

.todos__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}



.todos__single:hover {
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
  }
  

.todos__single--text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
  }
  .todos__single--text:focus {
    outline: none;
  }
    
.remove {
    left:20px;
    background-color: rgb(247, 227, 220);
}

.notification{
  position: relative;
  top: 0px;
  right: -20px;
}

.user{
  right: -105px;
    top: -17px;
    position: relative;
}

.Isuue{
  position: relative;
  background-color: black;
}

.Dashboard{
  margin-top: 10px;
  position: relative;
  align-items: center;
  border:1px;
  border:white;
}

.Issue{
  top:2%;
  position: relative;
  align-items: center;
}

.Create{
  top:4%;
  position:relative;
  align-items: center;
}
.nav-link1{
  color: azure;
  text-decoration: none;
}
.nav-link2{
  color: azure;
  text-decoration: none;
}
.nav-link3{
  color: azure;
  text-decoration: none;
}

.createform {
  display: table-caption;
  position: relative;
  column-count: 2;
  grid-template-columns: auto 2fr;
  row-gap: 49px;
  column-gap: 200px;
  top:40px;
  align-items: center;
  left: 211px;
  padding: 10px;
}
.textbox{
  position: relative;
  width: 320px;
  color: black;
}
.textbox1{
  position: relative;
  width: 620px;
  color: black;
}