.App{
  
 
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 115%;
 
  
}



/* @media (max-width: 800px){
  .heading{
    margin: 15px 0;
    font-size: 35px;

} */
  
